.input-group {
    margin-top: 1.5rem;
}

.input-group-label {
    height: 2.4375rem;
}

.input-group-button {
    height: 2.4375rem;
    margin-left: 1rem;
}

.media-object {
    margin: 1rem;
}

.ranking {
    font-family: 'PT Sans', sans-serif;
    padding-left: 1rem;
}

h2, h3, h4 {
    font-family: 'Slabo 13px', serif;
}

h5, h6 {
    font-family: 'Lato', sans-serif;
}

.border {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1rem;
}

.border:hover {
    box-shadow: 1px 1px 10px;
}

#title {
    text-align: center;
    padding: 2rem 1rem 0 1rem;
}

#submit:hover {
    background-color: white;
}

a {
    color: black;
}

a:hover {
    color: black;
}